body{align-items: center;
	text-align: center;
	font-family: 'courier new';
	color: white;}
th{color:black;}
.bg{background-color: black; width: 50px}
.bg2{background-color: black; color: white}
.bg3{background-color: white; color: black}
.kiri{text-align: left;}
.tengah{align-items: center;align-content: center;}
.pth{color: white}
.bdr{border-color: white; border-style: dotted; background-color: black}
.coret{text-decoration: line-through}
.brdr{border: 10px solid transparent; padding: 15px; border-image: url(border.png) 30 stretch;}
.kotak{background-color: grey}
.fllw{background-color: blue; color: white; font-family: 'calibri'}
.cal{font-family: 'calibri'}
.fam{background-color: black; color: white; font-family: 'calibri'; width: 100px;}
.kiri2{align-content: left; align-items; align-self: left; alignment-baseline: left}
